.switch-wrapper {
  position: relative;
  width: 100%;
}
 
.switch-wrapper > div {
  position: absolute;
}

.bg-container{
  background: rgb(242,137,7);
  background: linear-gradient(180deg, rgba(242,137,7,1) 260px, rgba(255,255,255,0) 260px);
}

.driver-bg-container {
  background: rgb(166, 139, 5);
  background: linear-gradient(180deg, rgba(166,139,5,1) 260px, rgba(255,255,255,0) 260px);
}

.bg-yellow{background-color: #F2CB07;}
.bg-peagreen{background-color: #A68B05;}
.bg-orange{background-color: #F28907;}
.bg-red{background-color: #D90404;}
.bg-black{background-color: #0D0D0D; color: white;}

.profile-header {
  transform: translateY(5rem);
}

.reviewTable {
  font-size: .8rem;
}

#loginContainer{
  height: 80vh;
  /* border: 1px solid #eee; */
}

#loginContainer>.row{
  height: 100%;
}

#loginContainer form{
  width: 90%;
  margin: 0 auto;
}

#loginContainer form input{
  border-radius: 0;
}

#loginContainer form h3{
  text-align: center;
}

.formCol {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#loginContainer .d-sm-block{
  /* background-image: url('https://images.unsplash.com/photo-1546085588-19daae6c2ffb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80'); */
  /* background-image: url('https://images.unsplash.com/photo-1551357141-9223c3be5d2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'); */
  background-image: url('https://images.unsplash.com/photo-1551357275-408e54682a7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');
  background-size: cover;
  background-position: bottom center;
}

.react-rater{font-size: 2rem;}

.btn-primary.custom-btn {
	background-color: #0D0D0D;
	border-color: #0D0D0D;
}

.btn-primary.custom-btn:hover {
  background-color: rgb(49, 49, 49);
  border-color: rgb(49,49,49);
}

.driverContainer a.nav-link{
  color: #F28907;
}